.basket_item_container {
  background: white;
  border-radius: 10px;
  margin: 9px 0;
  position: relative;

  .basket_item {
    display: flex;

    justify-content: space-between;
    align-items: center;

    .basket_preview {
      width: 100px;
      padding: 10px 0 10px 10px;
    }

    .basket_title {
      font-size: 1.5rem;
    }

    .basket_price {
      font-size: 1.5rem;
    }

  }

  .basket_remove {
    align-self: normal;
    background: #ffd8dc;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 70px;
    height: 110px;
    transition: 0.2s;
    text-align: center;

    > img {
      width: 55px;
      margin-top: 27px;
    }
  }

  .basket_remove:hover {
    background: #ff99a4;
  }
}

.basket_total {
  font-size: 2rem;
  margin-top: 30px;
}

