

.auth {
    width: 50%;;
    margin: auto;
}




$screen-xs-max: 767px;
$screen-sm-min: 768px;  $screen-sm-max: 991px;
$screen-md-min: 992px;  $screen-md-max: 1199px;
$screen-lg-min: 1200px;

@media (max-width: $screen-xs-max) {
    .auth {
        width: 80%;
    }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .auth {
        width: 70%;
    }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}